@font-face {
    font-family: 'cookbook';
    src: url('fonts/Black-Bones.ttf') format('truetype');
}

@font-face {
    font-family: 'heading';
    src: url('fonts/Quicksand-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'content';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}

html, body {
    height: 100%;
    margin: 0;
    
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #ef933dff;
    padding: 2vh; 
    font-family: 'heading', sans-serif;
    min-height: 10vh; 
}

.navbar a {    
    color: white;
    text-decoration: none;
    padding: 1em;    
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 2.5vh;    
}

.navbar p {
    margin-top: auto;
    margin-bottom: auto;     
    font-size: 4vh;
    font-family: 'cookbook', sans-serif;
    color: hsla(323, 73%, 22%, 1);
}

.navbar a:hover {
    background-color:#FBE1C9;
    color: hsla(323, 73%, 22%, 1);
}

/* Style for the content area */
.content {
    padding: 6vh 5vw; /* Use relative units */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #e5ffdb;
    border-radius: 5px;
    font-family: 'content', sans-serif; /* Use content font-family */
    min-height: 80vh; /* Use min-height for responsiveness */
}

.content h1 {
    color: hsla(323, 73%, 22%, 1);
    font-size: 3.5vw;
}

h1 {
    margin: 2vh 0;
    padding: 2vh 0;
    font-family: 'heading', sans-serif;
}

h2 {
    font-size: 2.5vw;  
    text-align: center;
    margin: 2vh 0;
    padding-bottom: 2vh;
    font-family: 'heading', sans-serif;
    font-weight: bold;
    color: hsla(120, 52%, 58%, 1);
}

.content p {
    color: #666;
    font-family: 'content';
    font-size: 1vw;
    line-height: 1.5;
    max-width: 50vw;
    margin: auto; /* Centers the text block */
    margin-bottom: 6vh;
}

  
  #team p {
    margin-right: 2vw; /* Add some space between the <p> elements (adjust as needed) */
  }
  

/*footer {
    text-align: center;      
    background-color:  #ef933dff;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    height: 2vh;
}*/

#team {
    display: flex;
    flex-direction: wrap;
    justify-content: space-around; /* Distribute elements evenly along the horizontal axis */
}

.team-member,
.team-member-ty {
    text-align: center; /* Center-align the content */
    flex-basis: calc(25% - 5vw); /* Adjust width as needed (25% for four members, subtracting margin) */
}

.team-member img {
    width: 10vw;
    height: auto;
    border-radius: 20%;
}


.team-member a,
.team-member-ty a {
    color: white;
    text-decoration: none;
    padding: 1em; 
    font-size: 1vw;   
    border-radius: 5%;
    background-color: #9D6989;;
    transition: background-color 0.3s, color 0.3s;        
}

.team-member a:hover,
.team-member-ty a:hover {
    background-color:#9D6989;
    color: hsla(323, 73%, 22%, 1);
}

.team-member-ty img {
    width: 9.2vw;
    height: auto;
    border-radius: 20%;
}

.qrCode, .qrCode a {
    margin-top: 5vh;
    text-decoration: none;
}

.qrCode h2:hover {
    color: #568f56;
}

.qrCode img {
    
    width: 15vw; /* Set the desired width */
    height: auto; /* Let the height adjust to maintain the aspect ratio */
}

#quote {
    margin: 2vh 0;
    font-size: 1vw;
    text-align: center;
}

/* Responsive design: Adjusts the page for smaller screens */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        margin-bottom: 2vh;
    }

    .content {
        padding: 10vh 2vw; /* Adjust padding for smaller screens */
    }
}