@font-face {
    font-family: 'cookbook';
    src: url('fonts/Black-Bones.ttf') format('truetype');
}

@font-face {
    font-family: 'heading';
    src: url('fonts/Quicksand-Regular.ttf') format('truetype');
}

html, body {
    height: 100%;
    
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;    
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 24px;    
}

.navbar p {
    margin-top: 24px;
    font-size: 45px;
    font-family: 'cookbook', sans-serif;
    color: hsla(323, 73%, 22%, 1);
}

.navbar a:hover {
    background-color:#FBE1C9;
    color: hsla(323, 73%, 22%, 1);
}

/* Style for the content area */
.content {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 50px;
    padding-bottom: 12vh;        
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #e5ffdb;
    border-radius: 5px;
    font-family: 'Times New Roman', serif;    
    min-height: 100vh;
}

.content h1 {
    color: hsla(323, 73%, 22%, 1);
    font-size: 54px;
}

h1, h2 {
    font-size: 36px;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 36px;
    font-family: 'heading', sans-serif;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 21px;
    font-family: 'heading', sans-serif;
    font-weight: bold;
    color: hsla(120, 52%, 58%, 1);
}





.content p {
    color: #666;
    font-size: 1em;
    line-height: 1.5;
    max-width: 600px;
    margin: auto; /* Centers the text block */
    margin-bottom: 20px;
}

  
  #team p {
    margin-right: 20px; /* Add some space between the <p> elements (adjust as needed) */
  }
  

footer {
    text-align: center;
    padding: 20px;   
    background-color:  #ef933dff;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    height: 2vh;
}

#team {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Distribute elements evenly along the horizontal axis */
}

.team-member {
    text-align: center; /* Center-align the content */
    flex-basis: calc(25% - 20px); /* Adjust width as needed (25% for four members, subtracting margin) */
}

.team-member img {
    display: block; /* Make the image a block element to control its size */
    margin: 0 auto 10px; /* Center the image and add some space below it */
    width: 200px;
    height: auto;
    border-radius: 20%;
    margin: 20px;
}

.qrCode {
    margin-top: 20px;
}

.qrCode img {
    
    width: 300px; /* Set the desired width */
    height: auto; /* Let the height adjust to maintain the aspect ratio */
}

#quote {
    margin: 5px;
    text-align: center;
}

/* Responsive design: Adjusts the navbar for smaller screens */
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        margin-bottom: 10px;
    }
}
