h1 {
    text-align: center;
    background-color: #cef7ce;
}

#recipes {
    display: inline-flex;
    flex-direction: row;
    text-align: center; 
    background-color: #FBE1C9; 
}

div {
    margin: 12px;
}


ul, li {
    text-align: left;
}

#ddl {
    height: 265px;
    width: 98%;
}

#card {
    width: 180px;
    background-color: #cef7ce;
    color: #5F0F40;
}

#img{
    width: 175px;
}