@font-face {
    font-family: 'cookbook';
    src: url('fonts/Black-Bones.ttf') format('truetype');
}

@font-face {
    font-family: 'heading';
    src: url('fonts/Quicksand-Regular.ttf') format('truetype');
}




body {
    
    display: flex;
    flex-direction: column;
    background-color: hsla(29, 85%, 59%, .08);
    margin: 0;
}

.content {
    flex: 1; 
    text-align: center;
    background-color: #e5ffdb;
}

.content p {
    margin-bottom: 2vh !important; 
}

/* Style for the content area */
.content {
    
    text-align: center;
    font-family: 'Times New Roman', serif;
}

.content h1 {    
    font-size: 3.5vw;
    color: #5F0F40;
}

.content h2 {
    font-size: 2.5vw;
    font-weight: bold;
    color: hsla(120, 52%, 58%, 1);
}
.content p {
    color: #666;
    font-size: 1vw;
    line-height: 1.5;
    max-width: 40vw;
    margin: auto; /* Centers the text block */
}


.image-container {
    display: flex;
    justify-content: center; /* Center images horizontally */
    align-items: center; /* Center images vertically */
    margin: 1vh 0vw 1vh 0vw; /* Adjust the top and bottom margins */    
}

.image-container img {
    border-radius: 5px;
    height: fit-content;
    width: 26.67vw; /* Adjust the width of the images */
    margin: 0 0.3vw 5vh 0.3vw; /* Adjust the margin between the images */
    
}

.search-container {
    text-align: center;
    margin-bottom: 2vh;
    background-color: #589858;
    padding-bottom: 7vh;
    font-size: 1.3vw;
}
.search-container input[type="text"] {
    height: auto;
    width: 26.4vw; 
    font-size: 1.3vw;
    font-family: 'content';
}

#searchResults {
    text-align: center;
}

#selections {
    font-size: 1.3vw;
}

#selection-label, #category-label, #performSearch  {
    font-family: 'content';
}

button {
    background-color: #9D6989;
    color: rgb(250, 242, 235);
    font-family: 'content';
    height: 6vh;
    font-size: 1.3vw;
    margin-top: 1vh;
    border-radius: 5px;
}

button:hover{
    background-color:  #5f0f40ff;
    color: #9D6989;
} 

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#category{
    font-size: 1.1vw;
    font-family: 'content';
}


/* Responsive design: Adjusts the navbar for smaller screens */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin-bottom: 10px;
    }
}