/* 
    [align-] effects vertiacl axis
    [justify-] effects horizontal axis
*/
main{
    padding: 0%;
}

img{
    /* display: block; Make the image a block element to control its size */
    /* margin: 0 auto 10px; Center the image and add some space below it */
    width: 150px;
    height: auto;
    /* height: 125px; */
    border-radius: 10% 10% 0 0;
    /* border: none; */
}
.userImg{
    height: 150px;
    border-radius: 100%;
    border: 7px solid white;
}

p{
    color: var(--lght-purple);
    color: #9D6989;
}
.welcome{
    text-align: left;
    padding: 60px;
}
#user-info{
    position: relative;
    top: -120px;
}
#info-section{
    grid-area: info; /*'grid-row-start', 'grid-column-start', 'grid-row-end', and 'grid-column-end'*/
    /* display: flex; */
}
#content-box{
    display: grid;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    margin: none;
    padding: 40px 0px 40px 30px;
    background-color: white;
    /* height: auto;
    flex-grow: 5%; */
    grid-template: "info items"
}
.tabs{
    text-align: right;
    align-content: center;
    margin-right: 60px;
}
.tabs h3{
    display: inline;
    font-size: 16px;
    /* width: 25px; */
    margin-left: 10px;
    padding: 18px 36px 18px 36px;
    padding-right: 26px;
    border-radius: 10px 10px 0px 0px;
}

.selected-tab {
    background-color: white;
    color: #5f0f40ff;
}
.unselected {
    background-color: #5f0f40ff;
    color: white;
}

#liked_section, #favorites_section, #history{
    grid-area: items;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    /* display: grid; */
    /* justify-content:center; */
    /* grid-template: 
    "r1" 
    "r2"; */
}
.card{
    background-color: #c2f8c2;
    border-radius: 0 0 10% 10%;
}
/* #row1{
    grid-area: r1;
}
#row2{
    grid-area: r2;
} */
#row1, #row2{
    display: flex;
    flex-direction: row;
}
#row1 div, #row2 div {
    /* padding: 0px 0px 0px 20px;   */
    padding: 0px 20px 0px 0px;  
    width: 150px;
    height: 200px;
    flex-shrink: none;
    margin-right: 60px;
    margin-top: 30px;
}

.suggestions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 60px;
    color: #568F56;
}
.suggestions img{
    display: inline;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    padding-top: 12px;
    flex-wrap: nowrap;
}