@font-face {
    font-family: 'heading';
    src: url('fonts/Quicksand-Regular.ttf') format('truetype');
}
*{
    font-family: 'heading';
}
body{
    background-color: white;
}
main{
    align-content: center;
    justify-content: center;
    text-align: center;
}
.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    /* background-color: grey; */
}
.search-group{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 650px;
    /* background-color: salmon; */
}
#search-results{
    display: inline-flex;
    padding: 20px;
}
#search-results div {
    margin: 20px;
}

 /* filter button and dropdown styling */
.dropdown{
    position: relative;
    width: 80px;
    box-shadow: 15%;
    cursor: pointer;
}
.dropdown-text{
    align-items: center;
    background-color: #cef7ce;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 500;
    padding: 7px 10px;
}
.dropdown-text:hover{
    content: attr(dropdown-list);
    background-color: rgb(127, 159, 79);
    color:  #cef7ce;
    transition: all 0.4s ease;
    z-index: 1;
}
.dropdown-list-container{
    position: absolute;
    top: 2.6rem;
    left: 0;
    width: 100%;
    /* max-height: 0; */
}
.dropdown-list{
    overflow: hidden;
    background-color: wheat;
    max-height: 0;
    transition: max-height 0.9s;
}
.dropdown-list:hover{
    overflow: visible;
}

#a-list.show{
    max-height: 300px;
}
.dropdown-list li{
    font-size: .85rem;
    padding: .5rem 0 .5rem .5rem;
}
.dropdown-list li:hover{
    margin-left: -0.5rem;
    color:#568F56;
    transition: margin-left 0.3s ease, color 0.2s ease;
}
.change{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 0rem;
    left: 5rem;
    height: 210px;
    min-width: 300px;
    padding: 5%;
    border: 1px solid #5BCB5B;
    border-radius: 0 5% 5% 0;
    background-color: white;
    max-height: 0;
    overflow: scroll;
    transition: max-height 0.9s;
}
#b-list.show{
    max-height: 210px;
}

.filtered-item{
    padding: .5rem;
}
.filtered-item:hover{
    top: -3px;
    color: #FCDC4D;
}
.dropdown-list li:hover::after, .dropdown-list li:focus::after {
    content: attr(none);
    position: absolute;
    text-align: center;
    justify-self: baseline;
    left: 90%;
    width: 200px;
    padding: 5px;
    background-color: rgb(127, 159, 79);
    color: white;
    z-index: 1;
}

/* search bar and icon styling */
.search-box{
    display: flex;
    align-items: center;
    width: 60%;
    height: 3rem;
    color: white; /* changes color of maginfying glass */
    
}
.search-box input{
    padding: .5rem;
    padding-left: 2rem;
    width: 100%;
    box-shadow: none;
    border: 2px solid;
    border-color: #5BCB5B;
    border-radius: 50px 0 0 50px;
    outline: none;
    font-size: 16px;
}
.search-icon {
    background-color: #cef7ce;
    padding: .35rem;
    width: 2rem;
    padding-right: .5rem;
    border: 2px solid;
    border-left-style: none;
    border-radius: 0 70% 2px 0;
    border-color: #5BCB5B;
    cursor: pointer;
}
.search-icon:hover{
    color: #568F56;
    transition: color 0.5s;
}

/* filter item area styling */
#filters-section{
    display:inline-block;
    min-width: 100%;
    /* delete later */
    /* background-color: aqua; */
}
.filters-page-container {
    display: flex;
    justify-content: space-between;     /* X-axis alignment*/
    align-items: self-end;              /* Y-axis alignment*/
    margin: auto;
    padding: 1rem;
    padding-top: 2.5rem;
    width: 700px;
    height: 4rem;
    border-bottom: 1px solid #9D6989;
    /* delete later */
    /* background-color: grey; */
}
#selected{
    font-family: 'Times New Roman', Times, serif;
}
.selected-filters{
    margin-left: 2rem;
    max-width: 65%;
    /* delete later */
    /* background-color: hsl(120, 25%, 45%); */
}
.selected-filters li{
    display: inline-flex;
    align-items: center;
    background-color: #FCDC4D ;
    padding: 5px;
    font-size: .95rem;
    margin-right: .5rem;
    border-radius: 30px;
}
.selected-filters i{
    padding-right: 5px;
    color:rgb(91, 101, 81);
}


/* content area styling */
#search-results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #9D6989;
}
.search-results-container{
    width: 750px;
    background-color: grey;
}
.search-results-container{
    display: flex;
}
/* card styling */
img{
    width: 200px;
    border-radius: 65% 3% 0 0;
}
.card{
    flex-direction: column;
    background-color: #5BCB5B;
    color: #568F56;
    border-radius: 57% 5% 3% 3%;
    padding-bottom: .5rem;
    width: 200px;
    max-height: 350px;
}
.my-card__media {
    background-image: url("./images/pasta.jpg");
    width: 200px;
    height: 200px;
}
.meal-name{
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
}
.description{
    width: 85%;
    line-height: 14px;
    margin: auto;

    font-size: .85rem;
    overflow: hidden;
}
.user-actions{
    display: inline-flex;
    margin: auto;
    width: 70%;
    justify-content: flex-end;
}
.user-actions i{
    color: #cef7ce;
    font-size: 1.2rem;
    padding-left: 7px;
}
.cook-time{
    color: #FCDC4D;
    font-size: .8rem;
}